PORT=4000

# Configuración de la base de datos PostgreSQL
DB_USER=postgres
DB_PASSWORD=tu_contraseña
DB_HOST=localhost
DB_PORT=5432
DB_NAME=manga_app

# Configuración de seguridad para los Tokens
JWT_SECRET=genera_una_clave_segura_aqui

# Google OAuth
GOOGLE_CLIENT_ID=tu_google_client_id
GOOGLE_CLIENT_SECRET=tu_google_client_secret
